* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {

    display: flex;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("https://assets.nflxext.com/ffe/siteui/vlv3/4371a395-0e42-46ae-be36-5755eebc638b/web/IN-en-20260209-TRIFECTA-perspective_3a6d8659-ddfe-4547-9584-dce64c02c230_large.jpg");
    background-color: black;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height:100vh;

}

@media screen and (max-width:960px) {
    header{
        height:80vh;
    }
}

header nav {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 70vw;
    height: 60px;

}

header nav img {
    width: 180px;
    height: 90px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 270px;
    justify-content: flex-start;
}

select {
    width: 125px;
    background-color: #292727;
    font-size: 16px;
    height: 32px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid white;
}

.signout {
    box-sizing: border-box;
    width: 91px;
    height: 32px;
    font-size: 16px;
    background-color: #e00c1d;
    border: 1px solid #e00c1d;
    border-radius: 9px;
    /* text-align: center; */
    padding: 5px 17px;

}

@media screen and (max-width:960px) {
    header nav {
        width: 93vw;

    }

    header nav img {
        width: 130px;
        height: 44px;
    }

    .sidebar {
        width: 195px;
    }

    select {
        width: 100px;
    }


    .signout {
        width: 80px;
        padding: 3px 7px;
    }
}


.maincontent {
    display: flex;
    height: 700px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 425px;
    align-items: center;
}

.maincontent>h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
}

.maincontent > .start {
    font-size:18px;
    font-weight: 600;
}

.red-btn{
    width: 221px;
    height: 43px;
    font-size: 24px;
    background-color: #e00c1d;
    padding: 11px 0px 6px 0px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;

}
@media screen and (max-width:960px) {
    .maincontent {
        width: 245px;

    }

    .maincontent>h1 {
        font-size: 32px
    }

    .maincontent > .start {
    font-size:11px;
    font-weight: 600;
}

}

.trendingnow{
    

}
.oval{
    position: relative;
    height: 65px;
    width: 100vw;
    border-radius: 50%;
    border-top: 5px solid;
    background: radial-gradient(ellipse at top, #131c43 1%, #0b1127 -369%, black 100%)
}
.oval::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}